In [ ]:
# To upload our datasets from our working directory we need to mount our drive contents to the colab environment. 
# For the code to do so you can search “mount” in code snippets or use the code given below. 
# Our entire drive contents are now mounted on colab at the location “/gdrive”.

from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.nonparametric.kde import KDEUnivariate
from statsmodels.nonparametric import smoothers_lowess
from pandas import Series, DataFrame
from patsy import dmatrices
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
pd.set_option('display.max_columns',None)#displaying long list of columns
pd.set_option('display.max_rows', None)#displaying long list of rows
pd.set_option('display.width', 1000)#width of window
import statsmodels.api as sm


file = r'/gdrive/My Drive/python3/Python 3 B regression/bankdf1.csv'
Data = pd.read_csv(file)  #creates a dataframe

print(Data.shape)

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive
(515, 18)

In [ ]:
Data.drop(Data.columns[0], axis=1, inplace=True)

In [ ]:
list(Data.columns)

['CustomerID',
 'LoanPayoffPeriodInMonths',
 'LoanReason',
 'RequestedAmount',
 'InterestRate',
 'Co-Applicant',
 'YearsAtCurrentEmployer',
 'YearsInCurrentResidence',
 'Age',
 'RentOrOwnHome',
 'TypeOfCurrentEmployment',
 'NumberOfDependantsIncludingSelf',
 'CheckingAccountBalance',
 'DebtsPaid',
 'SavingsAccountBalance',
 'CurrentOpenLoanApplications',
 'WasTheLoanApproved']

In [ ]:
Data

     CustomerID  LoanPayoffPeriodInMonths LoanReason RequestedAmount InterestRate Co-Applicant YearsAtCurrentEmployer  YearsInCurrentResidence  Age RentOrOwnHome TypeOfCurrentEmployment  NumberOfDependantsIncludingSelf CheckingAccountBalance DebtsPaid SavingsAccountBalance  CurrentOpenLoanApplications  WasTheLoanApproved
0           741                        36      goods            9566            2         none                      4                        2   31         owned                 skilled                                1                   none   delayed                  some                            2                   1
1           439                        12      goods            2279            4         none                      4                        4   37          free                 skilled                                1                   none      paid                  none                            1                   1
2           501                        30       auto            3857            4         none                      4                        4   40         owned                    self                                1                   debt      paid                  some                            1                   1
3           147                        12       auto            9004         none      Unknown                      4                        2   23         owned                 skilled                                1                   debt      paid                  none                            1                   0
4           749                        21       auto            2923            1         none                      4                        1   28         owned                    self                                1                   high      paid                medium                            1                   1
5           468                         9      goods            9184         none      Unknown                      4                        1   30         owned                 skilled                                1                   some      paid                  some                            1                   0
6           456                        15    repairs            1512            3         none                      4                        3   61         owned                 skilled                                1                   some   delayed                v.high                            2                   0
7           487                        30      goods            4583            2      guarant                      4                        2   32         owned                 skilled                                1                   debt      paid                  some                            2                   1
8           504                        30       auto            4811            2         none                      7                        4   24          rent                 unskill                                1                   none      paid                  none                            1                   1
9           688                        18      goods            4333         none       co-app                      0                        4   22          rent                 skilled                                1                   none      paid                  some                            1                   0
10          459                        48      busin           15672            2         none                      4                        2   23         owned                 skilled                                1                   some      paid                  some                            1                   0
11          509                        24       auto            2670            4         none                    10+                        4   35         owned                    self                                1                   none      paid                  some                            1                   1
12          746                        27      busin            8318            2         none                    10+                        4   42          free                    self                                1                   some      paid                  some                            2                   0
13          243                        12      goods            1424            4         none                      7                        3   26         owned                 skilled                                1                   some   delayed                  some                            1                   1
14          217                         6      goods            3684         none      Unknown                    10+                        4   38         owned                 skilled                                1                   some      paid                  none                            1                   1
15          678                        26       auto            7966            2         none                      1                        3   30         owned                 skilled                                1                   some      paid                  some                            2                   1
16          282                        12       auto            1884            4         none                    10+                        4   39         owned                    self                                1                   none      paid                  some                            1                   1
17          628                        12      goods            6524         none      Unknown                    10+                        4   24          rent                 skilled                                1                   debt      paid                  some                            1                   1
18          686                        12       auto            4843            3       co-app                    10+                        4   43          rent                 skilled                                1                   debt   delayed                  some                            2                   0
19          331                         6       auto            1352            1         none                      0                        2   23          rent                    none                                1                   debt      paid                  high                            1                   1
20           91                        12      goods            6199            4         none                      4                        2   28          rent                 skilled                                1                   debt      paid                  some                            2                   0
21          481                        24       auto            2325            2         none                      7                        3   32         owned                 skilled                                1                   debt      paid                medium                            1                   1
22          308                        60      busin            6836            3         none                    10+                        4   63         owned                 skilled                                1                   debt   delayed                  some                            2                   0
23          137                        48       auto            2751            4         none                    10+                        3   38         owned                 skilled                                2                   none   delayed                  none                            2                   1
24          215                        18       auto            1028            4         none                      4                        3   36         owned                 skilled                                1                   none   delayed                  some                            2                   1
25          548                        12      busin            6094         none      Unknown                      1                        1   26         owned                    none                                1                   high      paid                  some                            1                   0
26          650                         5      busin            3448            1         none                      7                        4   74         owned                 unskill                                1                   none      paid                  some                            1                   1
27          494                        24      goods            3235            3         none                    10+                        2   26         owned                    self                                1                   none      paid                  high                            1                   1
28          609                        36       auto            5711            4         none                    10+                        2   38         owned                    self                                1                   none   delayed                v.high                            2                   1
29          434                         7      goods            8463         none      Unknown                    10+                        4   36          free                 skilled                                1                   none   delayed                  none                            1                   1
30           13                        21      goods            2745            3         none                      7                        2   32         owned                 skilled                                1                   some   delayed                v.high                            2                   1
31          384                         9     school            1136            4         none                    10+                        3   32          free                 skilled                                2                   some   delayed                v.high                            2                   0
32          130                         9      goods            2301            2         none                      1                        4   22          rent                 skilled                                1                   none      paid                medium                            1                   1
33          363                        24       auto            1940            4         none                    10+                        4   60         owned                 skilled                                1                   none   delayed                v.high                            1                   1
34          658                        39       auto            2569            4         none                      4                        4   24         owned                 skilled                                1                   none      paid                  high                            1                   1
35          655                        15      goods            1459            4         none                      4                        2   43         owned                 unskill                                1                   none   delayed                  some                            1                   1
36          697                        11      goods            1154            4         none                      0                        4   57         owned                 unskill                                1                   none   delayed                medium                            3                   1
37          563                        12     school            2096            2         none                      7                        3   49         owned                 unskill                                2                   none   delayed                  some                            1                   1
38          624                        12      goods            1158            3         none                      4                        1   26         owned                 skilled                                1                   some      paid                  high                            1                   1
39          725                         6       auto            3624         none      Unknown                      4                        4   52         owned                 unskill                                1                   none   delayed                medium                            2                   1
40          649                        12       auto            1344            4         none                      4                        2   43         owned                 unskill                                2                   debt   delayed                  some                            2                   1
41          413                        11      goods            4771            2         none                      7                        4   51         owned                 skilled                                1                   some   delayed                  some                            1                   1
42          341                         6      goods            1169            4         none                    10+                        4   67         owned                 skilled                                1                   debt   delayed                  none                            2                   1
43           79                        21      busin            1572            4         none                    10+                        4   36         owned                 unskill                                1                   none      paid                v.high                            1                   1
44          344                        18      goods            2659            4         none                      4                        2   28         owned                 skilled                                1                   debt      paid                v.high                            1                   1
45          152                         6       auto            1204            4         none                      4                        1   35          rent                 skilled                                1                   none      paid                medium                            1                   1
46          705                        39     school           11760            2         none                      7                        3   32          rent                 skilled                                1                   some   delayed                medium                            1                   1
47           32                        33      busin            2764            2         none                      4                        2   26         owned                 skilled                                1                   none   delayed                  some                            2                   1
48          623                        33       auto            7253            3         none                      7                        2   35         owned                    self                                1                   none   delayed                  some                            2                   1
49          611                        36     school            8065            3         none                      4                        2   25         owned                    self                                1                   debt   delayed                  some                            2                   0
50          735                        24      goods            1851            4      guarant                      7                        2   33         owned                 skilled                                1                   none   delayed                  some                            2                   1
51          718                        24      goods            1533            4         none                      1                        3   38         owned                 skilled                                1                   none      paid                  some                            1                   1
52          280                        20      other            2629            2         none                      4                        3   29         owned                 skilled                                1                   some   delayed                  some                            2                   1
53          670                        10       auto            2848            1       co-app                      4                        2   32         owned                 skilled                                2                   none      paid                medium                            1                   1
54          165                        30      goods            5771            4         none                      7                        2   25         owned                 skilled                                1                   none   delayed                  some                            2                   1
55          340                        24       auto           11560            1         none                      4                        4   23          rent                    self                                1                   some      paid                  some                            2                   0
56          211                         9      goods            7904         none      Unknown                      4                        3   66         owned                 unskill                                1                   some      paid                  high                            1                   1
57          316                        30      goods            1867            4         none                    10+                        4   58         owned                 skilled                                1                   none      paid                  none                            1                   1
58          205                        24       auto            1393            2      guarant                      4                        2   31         owned                 skilled                                1                   none      paid                  some                            1                   1
59          542                        12      goods            9831         none      Unknown                      1                        4   19          rent                 unskill                                1                   some      paid                v.high                            1                   1

In [ ]:
Data.dtypes
cat = ['LoanReason','InterestRate','Co-Applicant','YearsAtCurrentEmployer','RentOrOwnHome','TypeOfCurrentEmployment','CheckingAccountBalance','DebtsPaid','SavingsAccountBalance']

In [ ]:
y=Data['WasTheLoanApproved']
X=Data.drop(['WasTheLoanApproved'], axis=1)

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [ ]:
cat_columns = ['LoanReason','Co-Applicant','RentOrOwnHome','TypeOfCurrentEmployment','CheckingAccountBalance','DebtsPaid','SavingsAccountBalance']

df_processed = X_train[['CustomerID','LoanPayoffPeriodInMonths','RequestedAmount','Age','CurrentOpenLoanApplications', 'NumberOfDependantsIncludingSelf','InterestRate','YearsAtCurrentEmployer','YearsInCurrentResidence']]

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
# For each categorical column
# We fit a label encoder, transform our column and 
# add it to our new dataframe
label_encoders = {}
for col in cat_columns:
    print("Encoding {}".format(col))
    new_le = LabelEncoder()
    df_processed[col] = new_le.fit_transform(X_train[col])
    label_encoders[col] = new_le

Encoding LoanReason
Encoding Co-Applicant
Encoding RentOrOwnHome
Encoding TypeOfCurrentEmployment
Encoding CheckingAccountBalance
Encoding DebtsPaid
Encoding SavingsAccountBalance

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [ ]:
cat_columns_idx = [df_processed.columns.get_loc(col) 
                   for col in cat_columns]

In [ ]:
ohe = OneHotEncoder(categorical_features=cat_columns_idx, 
                    sparse=False, handle_unknown="ignore")
df_processed_np = ohe.fit_transform(df_processed)

TypeError: ignored

In [ ]:
Data['RequestedAmount']=1*Data['RequestedAmount'] 

Data.RequestedAmount = pd.to_numeric(Data.RequestedAmount, errors="coerce")

In [ ]:
Data.RequestedAmount.astype(int)

ValueError: ignored

In [ ]:
Data.dtypes

CustomerID                           int64
LoanPayoffPeriodInMonths             int64
LoanReason                          object
RequestedAmount                    float64
InterestRate                       float64
Co-Applicant                        object
YearsAtCurrentEmployer              object
YearsInCurrentResidence              int64
Age                                  int64
RentOrOwnHome                       object
TypeOfCurrentEmployment             object
NumberOfDependantsIncludingSelf      int64
CheckingAccountBalance              object
DebtsPaid                           object
SavingsAccountBalance               object
CurrentOpenLoanApplications          int64
WasTheLoanApproved                   int64
dtype: object

In [ ]:
Data['InterestRate'] = Data['InterestRate'].replace(['none'],'0')
Data['YearsAtCurrentEmployer'] = Data['YearsAtCurrentEmployer'].replace(['10+'],'10')

In [ ]:
Data.dtypes

NameError: ignored

In [ ]:
Data.InterestRate = pd.to_numeric(Data.InterestRate, errors="coerce")
Data.InterestRate.astype(int)

     CustomerID  LoanPayoffPeriodInMonths LoanReason  RequestedAmount InterestRate Co-Applicant YearsAtCurrentEmployer  YearsInCurrentResidence  Age RentOrOwnHome TypeOfCurrentEmployment  NumberOfDependantsIncludingSelf CheckingAccountBalance DebtsPaid SavingsAccountBalance  CurrentOpenLoanApplications  WasTheLoanApproved
0           741                        36      goods           9566.0            2         none                      4                        2   31         owned                 skilled                                1                   none   delayed                  some                            2                   1
1           439                        12      goods           2279.0            4         none                      4                        4   37          free                 skilled                                1                   none      paid                  none                            1                   1
2           501                        30       auto           3857.0            4         none                      4                        4   40         owned                    self                                1                   debt      paid                  some                            1                   1
3           147                        12       auto           9004.0            0      Unknown                      4                        2   23         owned                 skilled                                1                   debt      paid                  none                            1                   0
4           749                        21       auto           2923.0            1         none                      4                        1   28         owned                    self                                1                   high      paid                medium                            1                   1
5           468                         9      goods           9184.0            0      Unknown                      4                        1   30         owned                 skilled                                1                   some      paid                  some                            1                   0
6           456                        15    repairs           1512.0            3         none                      4                        3   61         owned                 skilled                                1                   some   delayed                v.high                            2                   0
7           487                        30      goods           4583.0            2      guarant                      4                        2   32         owned                 skilled                                1                   debt      paid                  some                            2                   1
8           504                        30       auto           4811.0            2         none                      7                        4   24          rent                 unskill                                1                   none      paid                  none                            1                   1
9           688                        18      goods           4333.0            0       co-app                      0                        4   22          rent                 skilled                                1                   none      paid                  some                            1                   0
10          459                        48      busin          15672.0            2         none                      4                        2   23         owned                 skilled                                1                   some      paid                  some                            1                   0
11          509                        24       auto           2670.0            4         none                     10                        4   35         owned                    self                                1                   none      paid                  some                            1                   1
12          746                        27      busin           8318.0            2         none                     10                        4   42          free                    self                                1                   some      paid                  some                            2                   0
13          243                        12      goods           1424.0            4         none                      7                        3   26         owned                 skilled                                1                   some   delayed                  some                            1                   1
14          217                         6      goods           3684.0            0      Unknown                     10                        4   38         owned                 skilled                                1                   some      paid                  none                            1                   1
15          678                        26       auto           7966.0            2         none                      1                        3   30         owned                 skilled                                1                   some      paid                  some                            2                   1
16          282                        12       auto           1884.0            4         none                     10                        4   39         owned                    self                                1                   none      paid                  some                            1                   1
17          628                        12      goods           6524.0            0      Unknown                     10                        4   24          rent                 skilled                                1                   debt      paid                  some                            1                   1
18          686                        12       auto           4843.0            3       co-app                     10                        4   43          rent                 skilled                                1                   debt   delayed                  some                            2                   0
19          331                         6       auto           1352.0            1         none                      0                        2   23          rent                    none                                1                   debt      paid                  high                            1                   1
20           91                        12      goods           6199.0            4         none                      4                        2   28          rent                 skilled                                1                   debt      paid                  some                            2                   0
21          481                        24       auto           2325.0            2         none                      7                        3   32         owned                 skilled                                1                   debt      paid                medium                            1                   1
22          308                        60      busin           6836.0            3         none                     10                        4   63         owned                 skilled                                1                   debt   delayed                  some                            2                   0
23          137                        48       auto           2751.0            4         none                     10                        3   38         owned                 skilled                                2                   none   delayed                  none                            2                   1
24          215                        18       auto           1028.0            4         none                      4                        3   36         owned                 skilled                                1                   none   delayed                  some                            2                   1
25          548                        12      busin           6094.0            0      Unknown                      1                        1   26         owned                    none                                1                   high      paid                  some                            1                   0
26          650                         5      busin           3448.0            1         none                      7                        4   74         owned                 unskill                                1                   none      paid                  some                            1                   1
27          494                        24      goods           3235.0            3         none                     10                        2   26         owned                    self                                1                   none      paid                  high                            1                   1
28          609                        36       auto           5711.0            4         none                     10                        2   38         owned                    self                                1                   none   delayed                v.high                            2                   1
29          434                         7      goods           8463.0            0      Unknown                     10                        4   36          free                 skilled                                1                   none   delayed                  none                            1                   1
30           13                        21      goods           2745.0            3         none                      7                        2   32         owned                 skilled                                1                   some   delayed                v.high                            2                   1
31          384                         9     school           1136.0            4         none                     10                        3   32          free                 skilled                                2                   some   delayed                v.high                            2                   0
32          130                         9      goods           2301.0            2         none                      1                        4   22          rent                 skilled                                1                   none      paid                medium                            1                   1
33          363                        24       auto           1940.0            4         none                     10                        4   60         owned                 skilled                                1                   none   delayed                v.high                            1                   1
34          658                        39       auto           2569.0            4         none                      4                        4   24         owned                 skilled                                1                   none      paid                  high                            1                   1
35          655                        15      goods           1459.0            4         none                      4                        2   43         owned                 unskill                                1                   none   delayed                  some                            1                   1
36          697                        11      goods           1154.0            4         none                      0                        4   57         owned                 unskill                                1                   none   delayed                medium                            3                   1
37          563                        12     school           2096.0            2         none                      7                        3   49         owned                 unskill                                2                   none   delayed                  some                            1                   1
38          624                        12      goods           1158.0            3         none                      4                        1   26         owned                 skilled                                1                   some      paid                  high                            1                   1
39          725                         6       auto           3624.0            0      Unknown                      4                        4   52         owned                 unskill                                1                   none   delayed                medium                            2                   1
40          649                        12       auto           1344.0            4         none                      4                        2   43         owned                 unskill                                2                   debt   delayed                  some                            2                   1
41          413                        11      goods           4771.0            2         none                      7                        4   51         owned                 skilled                                1                   some   delayed                  some                            1                   1
42          341                         6      goods           1169.0            4         none                     10                        4   67         owned                 skilled                                1                   debt   delayed                  none                            2                   1
43           79                        21      busin           1572.0            4         none                     10                        4   36         owned                 unskill                                1                   none      paid                v.high                            1                   1
44          344                        18      goods           2659.0            4         none                      4                        2   28         owned                 skilled                                1                   debt      paid                v.high                            1                   1
45          152                         6       auto           1204.0            4         none                      4                        1   35          rent                 skilled                                1                   none      paid                medium                            1                   1
46          705                        39     school          11760.0            2         none                      7                        3   32          rent                 skilled                                1                   some   delayed                medium                            1                   1
47           32                        33      busin           2764.0            2         none                      4                        2   26         owned                 skilled                                1                   none   delayed                  some                            2                   1
48          623                        33       auto           7253.0            3         none                      7                        2   35         owned                    self                                1                   none   delayed                  some                            2                   1
49          611                        36     school           8065.0            3         none                      4                        2   25         owned                    self                                1                   debt   delayed                  some                            2                   0
50          735                        24      goods           1851.0            4      guarant                      7                        2   33         owned                 skilled                                1                   none   delayed                  some                            2                   1
51          718                        24      goods           1533.0            4         none                      1                        3   38         owned                 skilled                                1                   none      paid                  some                            1                   1
52          280                        20      other           2629.0            2         none                      4                        3   29         owned                 skilled                                1                   some   delayed                  some                            2                   1
53          670                        10       auto           2848.0            1       co-app                      4                        2   32         owned                 skilled                                2                   none      paid                medium                            1                   1
54          165                        30      goods           5771.0            4         none                      7                        2   25         owned                 skilled                                1                   none   delayed                  some                            2                   1
55          340                        24       auto          11560.0            1         none                      4                        4   23          rent                    self                                1                   some      paid                  some                            2                   0
56          211                         9      goods           7904.0            0      Unknown                      4                        3   66         owned                 unskill                                1                   some      paid                  high                            1                   1
57          316                        30      goods           1867.0            4         none                     10                        4   58         owned                 skilled                                1                   none      paid                  none                            1                   1
58          205                        24       auto           1393.0            2      guarant                      4                        2   31         owned                 skilled                                1                   none      paid                  some                            1                   1
59          542                        12      goods           9831.0            0      Unknown                      1                        4   19          rent                 unskill                                1                   some      paid                v.high                            1                   1

In [ ]:
Data.YearsAtCurrentEmployer.astype(int)

0       4
1       4
2       4
3       4
4       4
5       4
6       4
7       4
8       7
9       0
10      4
11     10
12     10
13      7
14     10
15      1
16     10
17     10
18     10
19      0
20      4
21      7
22     10
23     10
24      4
25      1
26      7
27     10
28     10
29     10
30      7
31     10
32      1
33     10
34      4
35      4
36      0
37      7
38      4
39      4
40      4
41      7
42     10
43     10
44      4
45      4
46      7
47      4
48      7
49      4
50      7
51      1
52      4
53      4
54      7
55      4
56      4
57     10
58      4
59      1
60      1
61      4
62      7
63      4
64      4
65     10
66     10
67     10
68      1
69     10
70     10
71      7
72      7
73     10
74      4
75      1
76      0
77      7
78      1
79     10
80      7
81      1
82      1
83      4
84      7
85      4
86     10
87      7
88      4
89      4
90      4
91      0
92      4
93     10
94     10
95     10
96      1
97      4
98      4
99      1
100    10
101    10
102     4
103    10
104     4
105    10
106     4
107    10
108     4
109     0
110     7
111     4
112     4
113    10
114     1
115     0
116     4
117     4
118     4
119    10
120     4
121     0
122     4
123     1
124     4
125     1
126    10
127     4
128    10
129     4
130     4
131    10
132     0
133     4
134     7
135    10
136    10
137     0
138     7
139     1
140     4
141     4
142    10
143     4
144     7
145     7
146     4
147     0
148    10
149     1
150     7
151    10
152     1
153     4
154    10
155     7
156    10
157     4
158    10
159    10
160     7
161     1
162     7
163     4
164    10
165     1
166     4
167    10
168     4
169     4
170     1
171     4
172    10
173     4
174    10
175    10
176     7
177    10
178    10
179     1
180     1
181     1
182     1
183     7
184    10
185     7
186     1
187     1
188    10
189     4
190     4
191     7
192     4
193     1
194     7
195     7
196    10
197     4
198    10
199     0
200     4
201    10
202     7
203     1
204     1
205     1
206     4
207    10
208     7
209    10
210     4
211     1
212    10
213     4
214    10
215     1
216     7
217     4
218     4
219    10
220     4
221     1
222     4
223     4
224     4
225     7
226     7
227     4
228     4
229     1
230    10
231    10
232     1
233    10
234     4
235     7
236     4
237     7
238    10
239     4
240     1
241     1
242     1
243     4
244     1
245     1
246     4
247     7
248     7
249     4
250    10
251     1
252     1
253     4
254    10
255     7
256     4
257     7
258     1
259     1
260     1
261     4
262    10
263    10
264     4
265     7
266     4
267     7
268     1
269    10
270     4
271    10
272     4
273     7
274    10
275     0
276     1
277     7
278     7
279     1
280     7
281     7
282     4
283     7
284     1
285     4
286     1
287     4
288     4
289    10
290     7
291     7
292    10
293    10
294     1
295     4
296     1
297     7
298     1
299    10
300    10
301     1
302     4
303     4
304     4
305     4
306     0
307    10
308     7
309     4
310     1
311     4
312     1
313     7
314     4
315     4
316    10
317    10
318     4
319     7
320    10
321     7
322     7
323     4
324     7
325    10
326     1
327     4
328     1
329     4
330     7
331     4
332    10
333     4
334     7
335     4
336     4
337     4
338     4
339     0
340     1
341     4
342     1
343     4
344     7
345     7
346     4
347    10
348    10
349     1
350     7
351     4
352     4
353    10
354     4
355     4
356    10
357     1
358     4
359     0
360    10
361     7
362     7
363     7
364     7
365     4
366     1
367    10
368     4
369    10
370     4
371     1
372     4
373    10
374     1
375     7
376     4
377     1
378     4
379     0
380     7
381     7
382     0
383     7
384     1
385     4
386     4
387    10
388     0
389     1
390     4
391     4
392     4
393     4
394     4
395    10
396     1
397     7
398     7
399     1
400     4
401    10
402     7
403     4
404     4
405    10
406     4
407     1
408     4
409     4
410     1
411     4
412     4
413     7
414    10
415    10
416    10
417     0
418     4
419     4
420     7
421     7
422     7
423    10
424     7
425    10
426    10
427     1
428    10
429    10
430     7
431     1
432     7
433     1
434    10
435     1
436     0
437     0
438     1
439     1
440     4
441     7
442     7
443    10
444     4
445    10
446     4
447     1
448     7
449     4
450     7
451     4
452     7
453     4
454    10
455    10
456     7
457    10
458     1
459     7
460     4
461     1
462     1
463    10
464     4
465    10
466     7
467     1
468    10
469    10
470     4
471    10
472     7
473     4
474     4
475    10
476     4
477     0
478     1
479    10
480     1
481     4
482     4
483     1
484    10
485    10
486    10
487    10
488     4
489     1
490     7
491     4
492    10
493     4
494     4
495     7
496     4
497     1
498     7
499     1
500     0
501     7
502     1
503     4
504     1
505    10
506     1
507    10
508     4
509     4
510     7
511    10
512     0
513     7
514     0
Name: YearsAtCurrentEmployer, dtype: int64

In [ ]:
Data.YearsAtCurrentEmployer = pd.to_numeric(Data.YearsAtCurrentEmployer, errors="coerce")
Data.YearsAtCurrentEmployer.astype(int)

0       4
1       4
2       4
3       4
4       4
5       4
6       4
7       4
8       7
9       0
10      4
11     10
12     10
13      7
14     10
15      1
16     10
17     10
18     10
19      0
20      4
21      7
22     10
23     10
24      4
25      1
26      7
27     10
28     10
29     10
30      7
31     10
32      1
33     10
34      4
35      4
36      0
37      7
38      4
39      4
40      4
41      7
42     10
43     10
44      4
45      4
46      7
47      4
48      7
49      4
50      7
51      1
52      4
53      4
54      7
55      4
56      4
57     10
58      4
59      1
60      1
61      4
62      7
63      4
64      4
65     10
66     10
67     10
68      1
69     10
70     10
71      7
72      7
73     10
74      4
75      1
76      0
77      7
78      1
79     10
80      7
81      1
82      1
83      4
84      7
85      4
86     10
87      7
88      4
89      4
90      4
91      0
92      4
93     10
94     10
95     10
96      1
97      4
98      4
99      1
100    10
101    10
102     4
103    10
104     4
105    10
106     4
107    10
108     4
109     0
110     7
111     4
112     4
113    10
114     1
115     0
116     4
117     4
118     4
119    10
120     4
121     0
122     4
123     1
124     4
125     1
126    10
127     4
128    10
129     4
130     4
131    10
132     0
133     4
134     7
135    10
136    10
137     0
138     7
139     1
140     4
141     4
142    10
143     4
144     7
145     7
146     4
147     0
148    10
149     1
150     7
151    10
152     1
153     4
154    10
155     7
156    10
157     4
158    10
159    10
160     7
161     1
162     7
163     4
164    10
165     1
166     4
167    10
168     4
169     4
170     1
171     4
172    10
173     4
174    10
175    10
176     7
177    10
178    10
179     1
180     1
181     1
182     1
183     7
184    10
185     7
186     1
187     1
188    10
189     4
190     4
191     7
192     4
193     1
194     7
195     7
196    10
197     4
198    10
199     0
200     4
201    10
202     7
203     1
204     1
205     1
206     4
207    10
208     7
209    10
210     4
211     1
212    10
213     4
214    10
215     1
216     7
217     4
218     4
219    10
220     4
221     1
222     4
223     4
224     4
225     7
226     7
227     4
228     4
229     1
230    10
231    10
232     1
233    10
234     4
235     7
236     4
237     7
238    10
239     4
240     1
241     1
242     1
243     4
244     1
245     1
246     4
247     7
248     7
249     4
250    10
251     1
252     1
253     4
254    10
255     7
256     4
257     7
258     1
259     1
260     1
261     4
262    10
263    10
264     4
265     7
266     4
267     7
268     1
269    10
270     4
271    10
272     4
273     7
274    10
275     0
276     1
277     7
278     7
279     1
280     7
281     7
282     4
283     7
284     1
285     4
286     1
287     4
288     4
289    10
290     7
291     7
292    10
293    10
294     1
295     4
296     1
297     7
298     1
299    10
300    10
301     1
302     4
303     4
304     4
305     4
306     0
307    10
308     7
309     4
310     1
311     4
312     1
313     7
314     4
315     4
316    10
317    10
318     4
319     7
320    10
321     7
322     7
323     4
324     7
325    10
326     1
327     4
328     1
329     4
330     7
331     4
332    10
333     4
334     7
335     4
336     4
337     4
338     4
339     0
340     1
341     4
342     1
343     4
344     7
345     7
346     4
347    10
348    10
349     1
350     7
351     4
352     4
353    10
354     4
355     4
356    10
357     1
358     4
359     0
360    10
361     7
362     7
363     7
364     7
365     4
366     1
367    10
368     4
369    10
370     4
371     1
372     4
373    10
374     1
375     7
376     4
377     1
378     4
379     0
380     7
381     7
382     0
383     7
384     1
385     4
386     4
387    10
388     0
389     1
390     4
391     4
392     4
393     4
394     4
395    10
396     1
397     7
398     7
399     1
400     4
401    10
402     7
403     4
404     4
405    10
406     4
407     1
408     4
409     4
410     1
411     4
412     4
413     7
414    10
415    10
416    10
417     0
418     4
419     4
420     7
421     7
422     7
423    10
424     7
425    10
426    10
427     1
428    10
429    10
430     7
431     1
432     7
433     1
434    10
435     1
436     0
437     0
438     1
439     1
440     4
441     7
442     7
443    10
444     4
445    10
446     4
447     1
448     7
449     4
450     7
451     4
452     7
453     4
454    10
455    10
456     7
457    10
458     1
459     7
460     4
461     1
462     1
463    10
464     4
465    10
466     7
467     1
468    10
469    10
470     4
471    10
472     7
473     4
474     4
475    10
476     4
477     0
478     1
479    10
480     1
481     4
482     4
483     1
484    10
485    10
486    10
487    10
488     4
489     1
490     7
491     4
492    10
493     4
494     4
495     7
496     4
497     1
498     7
499     1
500     0
501     7
502     1
503     4
504     1
505    10
506     1
507    10
508     4
509     4
510     7
511    10
512     0
513     7
514     0
Name: YearsAtCurrentEmployer, dtype: int64

In [ ]:
Data.dtypes

CustomerID                           int64
LoanPayoffPeriodInMonths             int64
LoanReason                          object
RequestedAmount                    float64
InterestRate                       float64
Co-Applicant                        object
YearsAtCurrentEmployer               int64
YearsInCurrentResidence              int64
Age                                  int64
RentOrOwnHome                       object
TypeOfCurrentEmployment             object
NumberOfDependantsIncludingSelf      int64
CheckingAccountBalance              object
DebtsPaid                           object
SavingsAccountBalance               object
CurrentOpenLoanApplications          int64
WasTheLoanApproved                   int64
dtype: object

In [ ]:
Data

     CustomerID  LoanPayoffPeriodInMonths LoanReason  RequestedAmount  InterestRate Co-Applicant  YearsAtCurrentEmployer  YearsInCurrentResidence  Age RentOrOwnHome TypeOfCurrentEmployment  NumberOfDependantsIncludingSelf CheckingAccountBalance DebtsPaid SavingsAccountBalance  CurrentOpenLoanApplications  WasTheLoanApproved
0           741                        36      goods           9566.0           2.0         none                       4                        2   31         owned                 skilled                                1                   none   delayed                  some                            2                   1
1           439                        12      goods           2279.0           4.0         none                       4                        4   37          free                 skilled                                1                   none      paid                  none                            1                   1
2           501                        30       auto           3857.0           4.0         none                       4                        4   40         owned                    self                                1                   debt      paid                  some                            1                   1
3           147                        12       auto           9004.0           0.0      Unknown                       4                        2   23         owned                 skilled                                1                   debt      paid                  none                            1                   0
4           749                        21       auto           2923.0           1.0         none                       4                        1   28         owned                    self                                1                   high      paid                medium                            1                   1
5           468                         9      goods           9184.0           0.0      Unknown                       4                        1   30         owned                 skilled                                1                   some      paid                  some                            1                   0
6           456                        15    repairs           1512.0           3.0         none                       4                        3   61         owned                 skilled                                1                   some   delayed                v.high                            2                   0
7           487                        30      goods           4583.0           2.0      guarant                       4                        2   32         owned                 skilled                                1                   debt      paid                  some                            2                   1
8           504                        30       auto           4811.0           2.0         none                       7                        4   24          rent                 unskill                                1                   none      paid                  none                            1                   1
9           688                        18      goods           4333.0           0.0       co-app                       0                        4   22          rent                 skilled                                1                   none      paid                  some                            1                   0
10          459                        48      busin          15672.0           2.0         none                       4                        2   23         owned                 skilled                                1                   some      paid                  some                            1                   0
11          509                        24       auto           2670.0           4.0         none                      10                        4   35         owned                    self                                1                   none      paid                  some                            1                   1
12          746                        27      busin           8318.0           2.0         none                      10                        4   42          free                    self                                1                   some      paid                  some                            2                   0
13          243                        12      goods           1424.0           4.0         none                       7                        3   26         owned                 skilled                                1                   some   delayed                  some                            1                   1
14          217                         6      goods           3684.0           0.0      Unknown                      10                        4   38         owned                 skilled                                1                   some      paid                  none                            1                   1
15          678                        26       auto           7966.0           2.0         none                       1                        3   30         owned                 skilled                                1                   some      paid                  some                            2                   1
16          282                        12       auto           1884.0           4.0         none                      10                        4   39         owned                    self                                1                   none      paid                  some                            1                   1
17          628                        12      goods           6524.0           0.0      Unknown                      10                        4   24          rent                 skilled                                1                   debt      paid                  some                            1                   1
18          686                        12       auto           4843.0           3.0       co-app                      10                        4   43          rent                 skilled                                1                   debt   delayed                  some                            2                   0
19          331                         6       auto           1352.0           1.0         none                       0                        2   23          rent                    none                                1                   debt      paid                  high                            1                   1
20           91                        12      goods           6199.0           4.0         none                       4                        2   28          rent                 skilled                                1                   debt      paid                  some                            2                   0
21          481                        24       auto           2325.0           2.0         none                       7                        3   32         owned                 skilled                                1                   debt      paid                medium                            1                   1
22          308                        60      busin           6836.0           3.0         none                      10                        4   63         owned                 skilled                                1                   debt   delayed                  some                            2                   0
23          137                        48       auto           2751.0           4.0         none                      10                        3   38         owned                 skilled                                2                   none   delayed                  none                            2                   1
24          215                        18       auto           1028.0           4.0         none                       4                        3   36         owned                 skilled                                1                   none   delayed                  some                            2                   1
25          548                        12      busin           6094.0           0.0      Unknown                       1                        1   26         owned                    none                                1                   high      paid                  some                            1                   0
26          650                         5      busin           3448.0           1.0         none                       7                        4   74         owned                 unskill                                1                   none      paid                  some                            1                   1
27          494                        24      goods           3235.0           3.0         none                      10                        2   26         owned                    self                                1                   none      paid                  high                            1                   1
28          609                        36       auto           5711.0           4.0         none                      10                        2   38         owned                    self                                1                   none   delayed                v.high                            2                   1
29          434                         7      goods           8463.0           0.0      Unknown                      10                        4   36          free                 skilled                                1                   none   delayed                  none                            1                   1
30           13                        21      goods           2745.0           3.0         none                       7                        2   32         owned                 skilled                                1                   some   delayed                v.high                            2                   1
31          384                         9     school           1136.0           4.0         none                      10                        3   32          free                 skilled                                2                   some   delayed                v.high                            2                   0
32          130                         9      goods           2301.0           2.0         none                       1                        4   22          rent                 skilled                                1                   none      paid                medium                            1                   1
33          363                        24       auto           1940.0           4.0         none                      10                        4   60         owned                 skilled                                1                   none   delayed                v.high                            1                   1
34          658                        39       auto           2569.0           4.0         none                       4                        4   24         owned                 skilled                                1                   none      paid                  high                            1                   1
35          655                        15      goods           1459.0           4.0         none                       4                        2   43         owned                 unskill                                1                   none   delayed                  some                            1                   1
36          697                        11      goods           1154.0           4.0         none                       0                        4   57         owned                 unskill                                1                   none   delayed                medium                            3                   1
37          563                        12     school           2096.0           2.0         none                       7                        3   49         owned                 unskill                                2                   none   delayed                  some                            1                   1
38          624                        12      goods           1158.0           3.0         none                       4                        1   26         owned                 skilled                                1                   some      paid                  high                            1                   1
39          725                         6       auto           3624.0           0.0      Unknown                       4                        4   52         owned                 unskill                                1                   none   delayed                medium                            2                   1
40          649                        12       auto           1344.0           4.0         none                       4                        2   43         owned                 unskill                                2                   debt   delayed                  some                            2                   1
41          413                        11      goods           4771.0           2.0         none                       7                        4   51         owned                 skilled                                1                   some   delayed                  some                            1                   1
42          341                         6      goods           1169.0           4.0         none                      10                        4   67         owned                 skilled                                1                   debt   delayed                  none                            2                   1
43           79                        21      busin           1572.0           4.0         none                      10                        4   36         owned                 unskill                                1                   none      paid                v.high                            1                   1
44          344                        18      goods           2659.0           4.0         none                       4                        2   28         owned                 skilled                                1                   debt      paid                v.high                            1                   1
45          152                         6       auto           1204.0           4.0         none                       4                        1   35          rent                 skilled                                1                   none      paid                medium                            1                   1
46          705                        39     school          11760.0           2.0         none                       7                        3   32          rent                 skilled                                1                   some   delayed                medium                            1                   1
47           32                        33      busin           2764.0           2.0         none                       4                        2   26         owned                 skilled                                1                   none   delayed                  some                            2                   1
48          623                        33       auto           7253.0           3.0         none                       7                        2   35         owned                    self                                1                   none   delayed                  some                            2                   1
49          611                        36     school           8065.0           3.0         none                       4                        2   25         owned                    self                                1                   debt   delayed                  some                            2                   0
50          735                        24      goods           1851.0           4.0      guarant                       7                        2   33         owned                 skilled                                1                   none   delayed                  some                            2                   1
51          718                        24      goods           1533.0           4.0         none                       1                        3   38         owned                 skilled                                1                   none      paid                  some                            1                   1
52          280                        20      other           2629.0           2.0         none                       4                        3   29         owned                 skilled                                1                   some   delayed                  some                            2                   1
53          670                        10       auto           2848.0           1.0       co-app                       4                        2   32         owned                 skilled                                2                   none      paid                medium                            1                   1
54          165                        30      goods           5771.0           4.0         none                       7                        2   25         owned                 skilled                                1                   none   delayed                  some                            2                   1
55          340                        24       auto          11560.0           1.0         none                       4                        4   23          rent                    self                                1                   some      paid                  some                            2                   0
56          211                         9      goods           7904.0           0.0      Unknown                       4                        3   66         owned                 unskill                                1                   some      paid                  high                            1                   1
57          316                        30      goods           1867.0           4.0         none                      10                        4   58         owned                 skilled                                1                   none      paid                  none                            1                   1
58          205                        24       auto           1393.0           2.0      guarant                       4                        2   31         owned                 skilled                                1                   none      paid                  some                            1                   1
59          542                        12      goods           9831.0           0.0      Unknown                       1                        4   19          rent                 unskill                                1                   some      paid                v.high                            1                   1

In [ ]:
export_csv = Data.to_csv(r'/gdrive/My Drive/python3/Python 3 B regression/inner join.csv')